<ul id='error'> </ul>
<%= form_for [@user, @car], {:class => "car_form", :id => current_user.id} do |f| %>

<p>
    <%= f.label(:make, 'Make') %>
    <br>
    <%= f.text_field(:make), :placeholder => "placeholder text" %>
</p>
<p>
    <%= f.label(:model, 'Model') %>
    <br>
    <%= f.text_field(:model) %>
</p>
<p>
    <%= f.select(:seats, options_for_select(1..7), {:prompt => 'Number of Seats'}) %>

    <%= f.select(:type_of, options_for_select(type_of_cars), {:prompt => 'Type of Car'}) %>
</p>
<p>
    <%= f.label(:year, 'Year') %>
    <br>
    
    <%= f.select(:year, options_for_select([*1970..2016].reverse), {:prompt => 'Year'}) %>
</p>
<p>
    <%= f.file_field :car_pic %>
</p>
    <%= f.submit('Create') %>
  <% end %>