
<% if @user != current_user %>
<!-- IF IT IS NOT YOUR PAGE -->


<div class="container">
    <h3>Welcome to <%= @user.first_name%>'s Profile</h3>
      <div class="profile">
        <img src="<%= @user.profile_pic %>">
      </div>
         <div id="view_user">
            <h5><%= @user.email %></h5>
            <h5><%= @user.phonenumber %></h5>
             <h5>Rating: <%= rated_avg %> </h5>
          </div>


<% else %>


   <h1>Hello <%= @user.first_name.capitalize %></h1>
    <div class=" profile">
      <img src="<%= @user.profile_pic %>">
    </div>
       <div id="user_info" >
         <h5><%= @user.email %></h5>
        <h5><%= @user.phonenumber %></h5>
        <h5>Rating: <%= rated_avg %> </h5>
       </div>
    <% end %>


  <h2>Upcoming Trips</h2>

    <% @user.driver_trips.each do |t| %>
      <div class= "upcomingtrips">
        <a href='/trips/<%=t.id%>'> <%= t.end_city %> </a><br>
          <% if @user = current_user %>
          <%= link_to 'edit trip', edit_trip_path(t)  %>
    <% end %>
      </div>
    <% end %>



  <div class="car_details">
    <h2>Car Details</h2>

    <% @user.cars.each do |car| %>
    <div>
      <h3>Make: <%= car.make %></h3>
      <h3>Model: <%= car.model %></h3>
      <h3>Year: <%= car.year %></h3>
      <h3>Type: <%= car.type_of %></h3>
      <h3>Seats: <%= car.seats %></h3>

      </div>
    <% end %>
      <%= image_tag @car.image.url(:medium) %>
  </div>
</div>





<% if @user == current_user  %>
<div class='container' >
 <a id='new_car_link' href="#">Add a new Car </a><br>
 <div hidden id='trip_new_car'>
  <%= render 'cars/car_form' %>
  </div>


  <% else %>

<% end %>

</div>
</div>



