
<% if @user != current_user %>
<!-- IF IT IS NOT YOUR PAGE -->


<div class="container">
    <h3>Welcome to <%= @user.first_name%>'s Profile</h3>
      <div class="profile">
        <img src="<%= @user.profile_pic %>">
      </div>
         <div id="view_user">
            <h5><%= @user.email %></h5>
            <h5><%= @user.phonenumber %></h5>
             <h5>Rating: <%= rated_avg %> </h5>
          </div>


<% else %>


   <h1>Hello <%= @user.first_name.capitalize %></h1>
    <div class=" profile">
      <img src="<%= @user.profile_pic %>">
    </div>
       <div id="user_info" >
         <h5><%= @user.email %></h5>
        <h5><%= @user.phonenumber %></h5>
        <h5>Rating: <%= rated_avg %> </h5>
       </div>
    <% end %>


  <h2>Upcoming Trips</h2>

    <%current_user_trips.each do |trip| %>
    <%= link_to trip_path(trip), :class =>  "upcoming_trip" do %>
    <div class = "upcoming">
      <h3><%= trip.start_city + " to " + trip.end_city %> (<%=trip.start_date.to_time.strftime('%B %e 20%y')%>)</h3>

      Car: <%= image_tag trip.car.car_pic, :class => "nav_button" %>
      Driver: <%= image_tag trip.driver.profile_pic, :class => "nav_button" %>
      Passengers: <% trip.passengers.each do |passenger| %>
        <%= image_tag passenger.profile_pic, :class => "nav_button" %>
      <% end %>
    </div>
    <%end%>
    <%end%>





  <div class="car_details">
    <h2>Car Details</h2>

    <% @user.cars.each do |car| %>
    <div>
      <h3>Make: <%= car.make %></h3>
      <h3>Model: <%= car.model %></h3>
      <h3>Year: <%= car.year %></h3>
      <h3>Type: <%= car.type_of %></h3>
      <h3>Seats: <%= car.seats %></h3>
    <img src="<%= car.car_pic %>">
      </div>
    <% end %>


  </div>
</div>





<% if @user == current_user  %>
<div class='container' >
 <a id='new_car_link' href="#">Add a new Car </a><br>
 <div hidden id='trip_new_car'>
  <%= render 'cars/car_form' %>
  </div>


  <% else %>

<% end %>

</div>
</div>



