<% if @user != current_user %>

  <div class="container">
    <h1>Welcome to <%= @user.first_name.capitalize %>'s Profile</h1>
  
        <p><%= @user.email %></p>
        <p><%= @user.phonenumber %></p>
        <p>Rating: <%= rated_avg %> </p>

        
      </div>
  <div class="about_me">
    <h1>About Me</h1>
      <p>Hello I am from California and I am a good passenger!!</p>

  </div>

 

  <div class="car_details">
    <h1>Car Details</h1>
    <% @user.cars.each do |car| %>
      <h3>Make: <%= car.make %></h3>
      <h3>Model: <%= car.model %></h3>
      <h3>Year: <%= car.year %></h3>
      <h3>Type: <%= car.type_of %></h3>
    <% end %>
  </div>


<% else %>

<!-- IF IT IS YOUR PAGE -->
<div class="container">
    <h1>Hello <%= @user.first_name.capitalize %></h1>
        <p><%= @user.email %></p>
        <p><%= @user.phonenumber %></p>
        <p>Rating: <%= rated_avg %> </p>

        <h5><%= link_to 'Edit Profile', controller: "devise/registrations", action: "edit"  %></h5>
      </div>
  <div class="about_me">
    <h1>About Me</h1>
      <p>Hello I am from California and I am a good passenger!!</p>

  </div>

  <div class= "trips">
    <h1>Upcoming Trips</h1>
      <% @user.driver_trips.each do |t| %>

      
      <a href='/trips/<%=t.id%>'> <%= t.end_city %> </a><br>
      <h5><%= link_to 'edit trip' %></h5>
      <% end %>
      
  </div>

  <div class="car_details">
    <h1>Car Details</h1>
    <% @user.cars.each do |car| %>
      <h3>Make: <%= car.make %></h3>
      <h3>Model: <%= car.model %></h3>
      <h3>Year: <%= car.year %></h3>
      <h3>Type: <%= car.type_of %></h3>
    <% end %>
        <%= link_to "Edit Car Details" %>
  </div>


  <%= form_for [@user, @car] do |f| %>
    <%= f.label(:seats, 'Number of Passengers') %>
    <%= f.select(:seats, options_for_select(1..7)) %>

    <%= f.label(:make, 'Make') %>
    <%= f.text_field(:make) %>

    <%= f.label(:model, 'model') %>
    <%= f.text_field(:model) %>

    <%= f.label(:type_of, 'Type') %>
    <%= f.text_field(:type_of) %>

    <%= f.label(:year, 'Year') %>
    <%= f.text_field(:year) %>
    <%= f.submit('Create') %>

  <% end %>


<% end %>


