<div class='container'>
<% if @user != current_user %>
<!-- IF IT IS NOT YOUR PAGE -->




  <div class="head_er">
    <h1>Welcome to <%= @user.first_name%>'s Profile</h1>
    </div>
      <div class="prof-container">
        <div class=" profile">
        <img src="<%= @user.profile_pic %>">
      </div>
         <div class="user_info">
            <p><%= @user.email %></p>
            <p><%= @user.phonenumber %></p>
             <p>Rating: <%= rated_avg %> </p>
          </div>
      </div>


<% else %>

  <div class="head_er">
   <h1>Hello <%= @user.first_name.capitalize %></h1>
  </div>
  <div class="prof-container">
    <div class=" profile">
      <img src="<%= @user.profile_pic %>">
    </div>
       <div class="user_info" >
         <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phonenumber %></p>
        <p>Rating: <%= rated_avg %> </p>
       </div>
    </div>

    <% end %>
    <% if current_user == @user %>
    <div id="trip">
  <h2>Upcoming Trips</h2>

    <%current_user_trips do |trip| %>
    <%= link_to trip_path(trip), :class =>  "upcoming_trip" do %>
    <div class = "upcoming">
      <h3><%= trip.start_city + " to " + trip.end_city %> (<%=trip.start_date.to_time.strftime('%B %e 20%y')%>)</h3>

      Car: <%= image_tag trip.car.car_pic, :class => "thumb_nail" %>
      Driver: <%= image_tag trip.driver.profile_pic, :class => "thumb_nail" %>
      Passengers: <% trip.passengers.each do |passenger| %>
        <%= image_tag passenger.profile_pic, :class => "thumb_nail" %>
      <% end %>
    </div>
    <% end %>
    <%end%>
    <%end%>
  </div>





  <div class="car_details">
    <div id="car_title">
    <h2>Car Details</h2>
  </div>
    <% @user.cars.each do |car| %>
    <div class="car_details">
      <p>Make: <%= car.make %></p>
      <p>Model: <%= car.model %></p>
      <p>Year: <%= car.year %></p>
      <p>Type: <%= car.type_of %></p>
      <p>Seats: <%= car.seats %></p>
    <img src="<%= car.car_pic %>">
      </div>
    <% end %>


  </div>
</div>





<% if @user == current_user  %>
<div class='container' >
 <a id='new_car_link' href="#">Add a new Car </a><br>
 <div hidden id='trip_new_car'>
  <%= render 'cars/car_form' %>
  </div>


  <% else %>

<% end %>

</div>
</div>
</div>



