
   <%= link_to user_path(p) do  %>
      <%= image_tag p.profile_pic, :class => "avatars" %>
    <% end %>
      <p><%= p.first_name.capitalize + " " + p.last_name.capitalize %></p>
    <% if @trip.ended && (@trip.passengers.include?(current_user) || @driver == current_user) && p.id != current_user.id  %>
        <form action='/ratings' method='POST' class="ratings-form">
          <p><h3>Ratings</h3></p>
          <p class="starRating">
            <input type="hidden" name="rating[rater_id]" value="<%= current_user.id %>">
            <input type="hidden" name="rating[rated_id]" value="<%= p.id %>">

            <input id="rating5" type="radio" name="rating[score]" value=5>
              <label for="rating5">1</label>
              <input id="rating4" type="radio" name="rating[score]" value=4>
              <label for="rating4">2</label>
              <input id="rating3" type="radio" name="rating[score]" value=3>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating[score]" value=2>
              <label for="rating2">4</label>
              <input id="rating1" type="radio" name="rating[score]" value=1 checked>
              <label for="rating1">5</label><br>
          </p>
        </form>

        <% end %>



