<h1> Planned Trips </h1>

<% @trips.each do |trip| %>
	<div class ='each_trip'>
		<p>From: <%=trip.start_city %>, <%= trip.start_state %>  On: <%= trip.start_date.to_time.strftime('%B %e 20%y') %></p>
		<p>To: <%=trip.end_city %>, <%= trip.end_state %> On: <%= trip.end_date.to_time.strftime('%B %e 20%y') %> </p>
		<p> Driver: <%= link_to trip.driver.first_name %> </p>
		<p>Passengers: <%= trip.passengers.length %>/<%= trip.num_passengers %> </p>
		<p><%= link_to 'Show', trip %> </p>
	</div>
<% end %>

