<% if current_user == @driver %>
	<h1>Welcome to Your Trip </h1>

	<h2>From: <%= @trip.start_city %>, <%= @trip.start_state %></h2>
	<h2>To: <%= @trip.end_city %>, <%= @trip.end_state %></h2>
		<span> Seats in car: <%= @trip.car.seats %> </span>

	<div style="border: thin solid black" id = 'driver_profile'>
		<%= @driver.first_name %>
		<%= @driver.last_name %><br>
		<%= @driver.phonenumber %>

	</div>

<% else %>

<h1>Welcome to <%= @driver.first_name %> <%= @driver.last_name %>'s Trip </h1>

<h2>From: <%= @trip.start_city %>, <%= @trip.start_state %></h2>
<h2>To: <%= @trip.end_city %>, <%= @trip.end_state %></h2>
	<span> Seats in car: <%= @trip.car.seats %> </span>

<div style="border: thin solid black" id = 'driver_profile'>
	<%= @driver.first_name %>
	<%= @driver.last_name %><br>
	<%= @driver.phonenumber %>

</div>

<% end %>
