<% if current_user == @driver %>
	<h1>Welcome to Your Trip </h1>
	<%= link_to 'edit trip', edit_trip_path %>

	<% if !@trip.started %>
		<h2> Waiting for Trip to start </h2>
		<%= button_to "Start", { action: "start", trip_id: @trip.id },
                                method: :patch, data: { confirm: "Are you sure?" } %>
    <% elsif @trip.ended %>
    	<h2> Trip Ended </h2>

	<% elsif @trip.started %>
		<h2> Trip in Progress </h2>
		<%= button_to "End", { action: "end", trip_id: @trip.id },
                                method: :patch, data: { confirm: "Are you sure?" } %>
	<% end %>
<% else %>
	<h1>Welcome to <%= @driver.first_name %> <%= @driver.last_name %>'s Trip </h1>

	<% if !@trip.started %>
		<h2> Waiting for Trip to Start </h2>
	<% elsif @trip.ended %>
    	<h2> Trip Ended </h2>
	<% elsif @trip.started %>
		<h2> Trip in Progress </h2>
	<% end %>

    <%= form_for @conversation do |f| %>
        <%= f.hidden_field :driver_id, :value => @driver.id %>
        <%= f.hidden_field :passenger_id, :value => current_user.id %>
        <%= f.hidden_field :trip_id, :value => @trip.id %>
        <%= f.submit("I'm Interested!") %>
    <% end %>

<% end %>

<p  id='start_geog' class ='<%=start_geo%>'>  </p>
<p  id='end_geog' class = '<%=end_geo%>'>  </p>

<div class='col span_12' >
  <div id="directions" class='col span_12' style= 'height: 20em'>
  
  </div>
</div>


<div>
	<h4>From: <%= @trip.start_city %>, <%= @trip.start_state %></h4>
	<h4>To: <%= @trip.end_city %>, <%= @trip.end_state %></h4>
	<h4>Start Date: <%= @trip.start_date.to_time.strftime('%B %e 20%y') %></h4>
	<h4>End Date: <%= @trip.end_date.to_time.strftime('%B %e 20%y') %></h4>
	<span> Seats in car: <%= @trip.car.seats %> </span>

</div>
<!-- DRIVERS DIV -->
<div>
<%= link_to user_path(@driver) do  %>
	<div style="border: thin solid black" id = 'driver_profile'>
		Driver: <%= @driver.first_name %>
		<%= @driver.last_name %><br>

		<%= @driver.phonenumber %>
		<%= @driver.profile_pic %>

		<% if @trip.ended && @trip.passengers.include?(current_user) && !current_user == @driver%>
			<%= form_for @rating do |f| %>
				<%= f.hidden_field :rater_id, :value => current_user.id %>
				<%= f.hidden_field :rated_id, :value => @driver.id %>
				<%= f.label(:score, 'Score') %>
				<%= f.select(:score, options_for_select(1..5)) %>
				<%= f.submit('Rate') %>
			<% end %>
		<% end %>
	</div>
<% end %>

 <!-- PASSENGERS DVIS -->

<% @trip.passengers.each do |p| %>
	<%= link_to user_path(p) do  %>

		<div style="border: thin solid black" >
			Passenger: <%= p.first_name %>
			<%= p.last_name %>
		<% if @trip.ended && (@trip.passengers.include?(current_user) || @driver == current_user) && p.id != current_user.id  %>

			<%= form_for @rating do |f| %>
				<%= f.hidden_field :rater_id, :value => current_user.id %>
				<%= f.hidden_field :rated_id, :value => p.id %>
				<%= f.label(:score, 'Score') %>
				<%= f.select(:score, options_for_select(1..5)) %>
				<%= f.submit('Rate') %>
			<% end %>
		<% end %>
		</div>
	<% end %>
<% end %>


<% if !current_user == @driver && @trip.passengers.length < @trip.num_passengers && !@trip.passengers.include?(current_user)%>
	<%= link_to "add passagger", trip_add_passenger_path(@trip) %>
<% end %>




<head>
<style>


</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
</head>
<body>
	<%# PUT A STAR RATING SYSTEM HERE FOR NOW JUST TO HAVE WORKING CODE APPEAR %>
<form class="ratings-form">
	<p><h3>Ratings</h3></p>
	<p class="starRating">
		<input id="rating5" type="radio" name="rating" value="5">
    <label for="rating5">5</label>
    <input id="rating4" type="radio" name="rating" value="4">
    <label for="rating4">4</label>
    <input id="rating3" type="radio" name="rating" value="3">
    <label for="rating3">3</label>
    <input id="rating2" type="radio" name="rating" value="2">
    <label for="rating2">2</label>
    <input id="rating1" type="radio" name="rating" value="1" checked>
    <label for="rating1">1</label>
	</p>
</form>
<%# END OF STAR RATING CODE %>
<p>Drag Your name into the car</p>

<div id="drag-stack">
<%= image_tag 'landrover_seating.png', id: 'rover-wrapper', width: '600', height: '400' %>
	<div id="passenger-container-outside" >
		<div id="passenger-container-inside">
			<li id="seat1" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat2" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat3" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat4" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat5" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat6" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
			<li id="seat7" ondrop="drop(event)" ondragover="allowDrop(event)"></li>
		</div>
	</div>

	<img id="drag1" src="/assets/bug" draggable="true" ondragstart="drag(event)" >
	</div>


<div id = "conversations-container" >
  <h1>Pending Passengers</h1>
  <div id= "avatars">
    <% pending_passengers.each do |rider| %>
    <%= image_tag rider.profile_pic, :class => "avatars", :id => rider.id, :dragable => "true", :ondragstart => "drag(event)" %>
    <%end%>

  </div>
</div>

</body>
<br>
</div>





