<% if current_user == @driver %>
	<h1>Welcome to Your Trip </h1>

	<% if !@trip.started %>
		<h2> Waiting for Trip to start </h2>
		<%= button_to "Start", { action: "start", trip_id: @trip.id },
                                method: :patch, data: { confirm: "Are you sure?" } %>
    <% elsif @trip.ended %>
    	<h2> Trip Ended </h2>

	<% elsif @trip.started %>
		<h2> Trip in Progress </h2>
		<%= button_to "End", { action: "end", trip_id: @trip.id },
                                method: :patch, data: { confirm: "Are you sure?" } %>


	<% end %>

	<h4>From: <%= @trip.start_city %>, <%= @trip.start_state %></h2>
	<h4>To: <%= @trip.end_city %>, <%= @trip.end_state %></h2>
	<h4>Start Date: <%= @trip.start_date.to_time.strftime('%B %e 20%y') %></h2>
	<h4>End Date: <%= @trip.end_date.to_time.strftime('%B %e 20%y') %></h2>
		<span> Seats in car: <%= @trip.car.seats %> </span>

	<div style="border: thin solid black" id = 'driver_profile'>
		<%= @driver.first_name %>
		<%= @driver.last_name %><br>
		<%= @driver.phonenumber %>
		<%= @driver.profile_pic %>

		<% @trip.passengers.each do |p| %>
			<div style="border: thin solid black" > <%= p.first_name %> <%= p.last_name %> 
			<% if @trip.ended %>
				<%= form_for @rating do |f| %>
					<%= f.hidden_field :rater_id, :value => current_user.id %>
					<%= f.hidden_field :rated_id, :value => p.id %>
					<%= f.label(:score, 'Score') %>
        			<%= f.select(:score, options_for_select(1..5)) %>
        			<%= f.submit('Rate') %>
    			<% end %>
			<% end %>

			</div>
		<% end %>

			<%= link_to 'View Profile', user_path %>

	</div>

<% elsif user_signed_in? %>

<%= @trip.passengers.count %>


<h1>Welcome to <%= @driver.first_name %> <%= @driver.last_name %>'s Trip </h1>

<% if !@trip.started %>
	<h2> Waiting for Trip to Start </h2>
<% elsif @trip.ended %>
    	<h2> Trip Ended </h2>
<% elsif @trip.started %>
		<h2> Trip in Progress </h2>

<% end %>

<h4>From: <%= @trip.start_city %>, <%= @trip.start_state %></h2>
<h4>To: <%= @trip.end_city %>, <%= @trip.end_state %></h2>
<h4>Start Date: <%= @trip.start_date.to_time.strftime('%B %e 20%y') %></h2>
<h4>End Date: <%= @trip.end_date.to_time.strftime('%B %e 20%y') %></h2>
	<span> Seats in car: <%= @trip.car.seats %> </span>

<div style="border: thin solid black" id = 'driver_profile'>
	<%= @driver.first_name %>
	<%= @driver.last_name %><br>
	<%= @driver.phonenumber %>
	<% if @trip.ended && @trip.passengers.include?(current_user)%>
		<%= form_for @rating do |f| %>
			<%= f.hidden_field :rater_id, :value => current_user.id %>
			<%= f.hidden_field :rated_id, :value => @driver.id %>
			<%= f.label(:score, 'Score') %>
			<%= f.select(:score, options_for_select(1..5)) %>
			<%= f.submit('Rate') %>
		<% end %>
	<% end %>


</div>

<% @trip.passengers.each do |p| %>
	<div style="border: thin solid black" > <%= p.first_name %> <%= p.last_name %> 
	<% if p.id != current_user.id %>
		<% if @trip.ended && @trip.passengers.include?(current_user) %>
			<%= form_for @rating do |f| %>
				<%= f.hidden_field :rater_id, :value => current_user.id %>
				<%= f.hidden_field :rated_id, :value => p.id %>
				<%= f.label(:score, 'Score') %>
    			<%= f.select(:score, options_for_select(1..5)) %>
    			<%= f.submit('Rate') %>
			<% end %>
		<% end %>
	<% end %>


	</div>
<% end %>

	<% if @trip.passengers.length < @trip.num_passengers && !@trip.passengers.include?(current_user)%>
		<%= link_to "add passagger", trip_add_passenger_path(@trip) %>
	<% end %>

<% else %>

<h1>LOG IN YA BISHHHH </h1>

<% end %>




<head>
<style>


</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
</script>
</head>
<body>
	<%# PUT A STAR RATING SYSTEM HERE FOR NOW JUST TO HAVE WORKING CODE APPEAR %>
<form class="ratings-form">
	<p><h3>Ratings</h3></p>
	<p class="starRating">
		<input id="rating5" type="radio" name="rating" value="5">
    <label for="rating5">5</label>
    <input id="rating4" type="radio" name="rating" value="4">
    <label for="rating4">4</label>
    <input id="rating3" type="radio" name="rating" value="3">
    <label for="rating3">3</label>
    <input id="rating2" type="radio" name="rating" value="2">
    <label for="rating2">2</label>
    <input id="rating1" type="radio" name="rating" value="1" checked>
    <label for="rating1">1</label>
	</p>
	<p><button class="delete_question_button">Delete</button></p>
</form>
<%# END OF STAR RATING CODE %>
<p>Drag Your name into the car</p>

<%= image_tag 'landrover_seating.png', id: 'rover-wrapper', width: '600', height: '400' %>  
<div id="passenger-container" >

<div id="seat1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="seat2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="seat3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id="seat4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>
</div>

<img id="drag1" src="/assets/bug" draggable="true" ondragstart="drag(event)" >

</body>
<br>





