<h2>Log in</h2>

<%= form_for(:user,  url: session_path(:user), :html => {:id => "real-sign-in"}, :format => :json,
           :remote => true ) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
  </div>

  
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
 <br>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>




