<div class='container'>
<div  id='homediv'>
	<div id='sticky' >

<!-- <video controls muted autoplay loop >
  <source src="https://www.youtube.com/watch?v=jKKI5Fyjm7w" type="video/mp4">
Your browser does not support the video tag.
</video>
 -->

	</div>

<div id='logo-container'>
  <%= link_to image_tag('hitch_logo.png', :class => '',  id: 'home_logo'), root_path %>
</div>
	<!-- <button href='#'  id='all-form-slider'  > hitch. </button> -->

<% if !user_signed_in? %>


<div id='test-wrapper'>
	<div id='sign-forms' class='' >
	<div class=''> </div>
		<a href="#" id='hidden_sign_up'> Switch Sign In/Sign Up </a>
		<div id ='sign-in-div' class=''>
			<%= render "devise/partials/sign_in" %>
		</div>

		<div hidden id='sign-up-div'>
			<%= render "devise/partials/sign_up" %>
		</div>
	</div>
</div>

<% end %>




	<div <% if !user_signed_in? %> hidden <% end %> id='story-collections'>
		<h1 style="margin: 0; text-align: center;">What would you like to do?</h1>




	<div id = 'driver_story' class = 'col span_6'>
		<%= link_to image_tag('steering_wheel_orange.png', :class => 'story-pics',  id: 'driver_pic'), new_trip_path %>
	</div>

	<div id = 'passenger_story' class = 'col span_6'>
		<%= link_to image_tag('thumb_orange_black.png',  :class => 'story-pics', id: 'passenger_pic'), trips_path %>
	</div>

	</div>


<!--
    var top = $("#headerz").offset().top

    $(window).on('scroll', function () {
        if (top <= $(window).scrollTop()) {
            // if so, add the fixed class
            $('#headerz').addClass('fixed');
        } else {
            // otherwise remove it
            $('#headerz').removeClass('fixed');
        }
    })
});

							var div_top = $('#menu-anchor').offset().top;

 -->









	<div class="row" hidden id = 'hidden_form' >

</div>
</div>
