<div hidden  id ='search_div'  >


<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <p>
        <%= f.label(:start_city, 'Start City:') %> <br>
        <%= f.text_field(:start_city) %>
        <%= f.select(:start_state, options_for_select(us_states), {:prompt => 'Select State'}) %>
    </p>

    <p> 
        <%= f.label(:end_city, 'End City') %>
    <br>
        <%= f.text_field(:end_city) %>
        <%= f.select(:end_state, options_for_select(us_states), {:prompt => 'Select State'} )%>
    </p>

  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
