<!DOCTYPE html>
<html>
<head>
  <title>HitchCoupled</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div id='header'>
  

      <% if current_user %>
     
    
          <%= link_to "<button>Sign Out</button>".html_safe, "/users/sign_out", method: :delete %>
      


      <% else %>
      
     
       <form action="/users/sign_in">
        <input type="submit" value="Sign In">
      </form>
    
       <form action="/users/sign_up">
        <input type="submit" value="Sign Up">
      </form>
    

      <% end %>
   
  
  </div>

  <div class='container'>

    <%= yield %>

  </div>


</body>
</html>
